body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    background-color: #8fb9e6;
}

.navbar-brand {
    color: #000000;
}

.navbar-nav .nav-link {
    color: #000000;
}

.jumbotron {
    background-color: #8fb9e6;
    color: #fff;
}

.jumbotron h1 {
    font-size: 3rem;
}

.jumbotron p {
    font-size: 1.2rem;
}

.card {
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para o formulário */
.container.2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group.2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para os radio buttons (para ficar na mesma linha) */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Estilos para a animação de bordas */
  @keyframes borderAnim {
    0% {
      border-color: #ccc;
    }
    50% {
      border-color: #007bff;
    }
    100% {
      border-color: #ccc;
    }
  }
  
  /* Responsividade */
  @media screen and (max-width: 600px) {
    .container.2 {
      padding: 10px;
    }
  }
  
  /* Adicionando animação às bordas */
  .container.2 {
    animation: borderAnim 5s infinite;
  }
  
  .carousel-item {
    height: 400px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
}

.carousel-caption h2 {
    font-size: 24px;
}

.carousel-caption p {
    font-size: 16px;
}

.carousel-indicators li {
    background-color: #007bff;
    border-color: #007bff;
}

.carousel-indicators .active {
    background-color: #0056b3;
    border-color: #0056b3;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.rights {
  color: #ccc;
  text-align: center;
  margin-top: 20px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .footer {
      text-align: center;
  }
  .footer h3 {
      margin-top: 20px;
  }
}

